body{
    max-width: 1600px;
    margin: auto;
    font-family: Roboto, sans-serif;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
}

.navbar-light .navbar-nav .nav-link{
    color: #0881a3;
}

#video_player{
    height: 400px;
    width:600px;
    margin:auto;
    margin-top: 20px;
}

#video_player_large{
    height: 600px;
    width:900px;
    margin:auto;
    margin-top: 20px;
}

.row{
    margin-left: 20px;
    margin-right: 20px;
}

.navigation_bar{
    /* Navbar styling properties -must- be set from inside Header.html due to Bootstrap behaviour. Open the Header.html file to customize the navigation bar */
}

p{
    text-align: center;
    margin: auto;
}


h1{
    text-align: center;
    padding-top:20px;
    padding-bottom: 20px;
    margin:auto;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

h2{
    text-align: center;
    padding-top:20px;
    padding-bottom: 20px;
    margin:auto;
    font-family: "Open Sans", sans-serif;
}

h3{
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
    margin:auto;
    font-family: "Open Sans", sans-serif;
}

h4{
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
    margin:auto;
    font-family: "Open Sans", sans-serif;
}

h5{
    text-align: center;
    margin-bottom: 25px;
    font-family: "Open Sans", sans-serif;
}

h6{
    text-align: center;
    margin-bottom: 25px;
    font-family: "Open Sans", sans-serif;
}

.g-signin2{
    margin: auto;
    width: 100%;
    position: absolute;
    bottom: 40px;
}

.g-signin2 > div{
    margin: 0 auto;

}

textarea{
    margin: auto;
    display: block;
    margin-top: 5px;
}

.inpage_button{
    margin:auto;
    margin-top: 20px;
    text-align: center;
    display: block;
}

video{
    margin: auto;
}

.container{
    max-width: 2000px;
}

.navbar-nav > li{
    margin-left:10px;
    margin-right:0px;
}

i{
    display: inline;
    vertical-align: middle
}

.material-icons{
    vertical-align: -25%;
}


canvas{
    /*margin-top:50px;*/

    margin-right: 50px;
}

#progChart{
    margin-left: -0px;
}

.vjs-play-progress {
    opacity: 0.7 !important;
}

.video-js .vjs-progress-control{

}

.suggestions{
    max-width: 500px !important;
    margin-bottom: 20px;
}

.suggestionsTitle{
    margin-top: 40px;
}

.g-signin2{
    margin-top: 40px;
}

.btn-group{
    margin: auto;
}

#CompletionsChart{
    margin-left: -40px;
}

.analytics_detail{
    display: inline;
    margin-bottom: 500px !important;
    padding-bottom: 500px;
}

.analytic_heading{
    margin-top:50px;
    margin-bottom:20px;
}

#histHeading{
    margin-top: 40px;
}

#contentHeading {
    margin-top: -10px !important;
}


@media only screen and (max-width: 1200px) {
    .g-signin2 {
        position: relative;
        padding-top: 20px;
    }
}

#registerBlock {
    display: block; !important;
    margin: auto; !important;
    margin-top: 100px;
    background-color: white;
    border: 2px solid grey;
    border-radius: 4px;
    border-collapse: separate;
    padding-left: 30px;
    padding-right: 30px;
}

#signinBlock {
    display: block; !important;
    margin: auto; !important;
    margin-top: 100px;
    background-color: white;
    border: 2px solid grey;
    border-radius: 4px;
    border-collapse: separate;
    padding-left: 30px;
    padding-right: 30px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#errorBlock{
    display: block; !important;
    margin: auto; !important;
    margin-top: 150px;
    background-color: white;
    border: 2px solid grey;
    border-radius: 4px;
    border-collapse: separate;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    min-height: 400px;
    min-width: 100px;
}

#errorIcon{
    margin-top: 10px;
}

#usersTable {
    margin-top: 16px;
}

th{
    background-color: #F4E7D3;
}

#confimration_banner{
    background-color: #09db09;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#rejection_banner{
    background-color: #cd1c1c;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#mngUsersLinkDiv{
    text-align: center;
    margin-top: 20px;
}

.optionsMenuLink{
    margin-left: 32px;
    font-size: 24px;
    color: black;
}

.optionsMenuItem{
    margin: auto;
    width: 95%;
    padding-top: 6px;
    padding-bottom: 6px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 18px;
}

.homeMenuItem{
    margin: auto;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 18px;
}

.font-icon-upped{
    position: relative;
    top: -3px;
}

#cont_desc{
    margin-top: 32px;
    max-width: 800px;
}

.uploadLabel{
    margin-bottom: 4px;
    text-align: left;
}

#uploadContainer{
    width: 95%;
}

.radio-inline-spaced{
    margin-left: 4px;
}

.restrictingContainer
{
    width: 96%;
}

.restrictingContainerSmall
{
    width: 60%;
}

#watchVideoTitle{
    margin-bottom: 0;
    padding-bottom: 2px;
}

#watchVideoUploader{
    margin-bottom: 16px;
    font-style: italic;
}

#watchVideoShortDesc{
    text-align: center;
    font-weight: bold;
}

#watchVideoContDesc{
    border-top: black 1px solid;
    margin-top: 16px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 32px;
}

.previewImg{
    margin-right: 12px;
}

@media only screen and (max-width: 1000px) {
    #video_player_large {
        height: 400px;
        width: 600px;
    }
    #watchVideoContDesc{
        max-width: 600px;
    }

}

@media only screen and (max-width: 670px) {
    #video_player_large {
        height: 350px;
        width: 500px;
    }

}

.share-button {
    position: relative;
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    padding: 3px 10px 2px 8px;
    color: #fff;
    background-color: #333;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
    text-decoration: none;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 15px;
}

#welcomeJumbotron {
     background-image: url("Model/Assets/scaena_banner_min.png");
     background-size: cover;
    margin-top: 0;
    color: white;
 }

#aboutJumbotron {
    background-image: url("Model/Assets/scaena_background.png");
    background-size: cover;
    color: white;
    background-position: center;
}


#jumbotronLink{
    color: inherit;
    font-style: inherit;
    font-weight: inherit;
}

#commentForm{
    margin-top: 32px;
}

.commentHeader{
    text-align: left;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;
    background-color: gainsboro;
    height: 2px;
}

.commentText{
    text-align: left;
    margin-top: 18px;
}

.deleteComment {
    float: right;
    color: #cd1c1c; !important;
}

.commendComment {
    float: right;
    color: #0881a3; !important;
}

#postCommentBtn{
    padding-left: 24px;
    padding-right: 24px;
}

#deleteVideoLink{
    color: #9f9f9f;
}